.skills__innovate-title {
	margin-bottom: 37px;
	span {
		font-family: $Regular
		font-size: 28px
		text-transform: uppercase
		display: block
		text-align: center
		position: relative
    	bottom: -4px
    	left: -19px
	}
}