.contact__website {
	h3 {
		display: inline
		font-family: $Bold
		text-transform: uppercase
		color: $blue-1
		font-size: 22px
	}
	span {
		font-family: $Regular
		font-size: 22px
		position: relative
    	left: 56px
	}
}