.software__illustrator-level {
	display: flex
	.full-level {
		width: 215px
		height: 24px
		background: $blue-1
		position: relative
		top: -9px
		left: 11px
	}
	.no-full-level {
		width: 89px
		height: 24px
		position: relative
		top: -9px
		left: 12px
		background: $white-1
	}
}