.contact__title {
	margin-bottom: 21px
	text-transform: uppercase
	font-size: 45px
	font-family: $Bold
	color: $blue-1
	img {
		height: 83px
		width: 83px
	}
	span {
		position: relative
    	bottom: 30px
    	left: 10px
	}
	hr {
		border: 0;
	    border-bottom: 4px solid
	    position: relative
	    bottom: 82px
    	left: 124px
	    width: 164px
	    color: #3d6cb0
	}
}