.skills
	.skills__title
		img(src="./img/skills.jpg" alt="skills" title="skills")
		span skills
		hr
	.skills__creative-title
		span creative
	.skills__creative-levels
		.level-1
		.level-2
		.level-3
		.level-4
		.level-5
		.level-6
		.level-7
		.level-8
		.level-9
		.level-10
		.level-11
		.level-12
	.skills__teamwork-title
		span teamwork
	.skills__teamwork-levels
		.level-1
		.level-2
		.level-3
		.level-4
		.level-5
		.level-6
		.level-7
		.level-8
		.level-9
		.level-10
		.level-11
		.level-12
	.skills__innovate-title
		span innovate
	.skills__innovate-levels
		.level-1
		.level-2
		.level-3
		.level-4
		.level-5
		.level-6
		.level-7
		.level-8
		.level-9
		.level-10
		.level-11
		.level-12
	.skills__communication-title
		span communication
	.skills__communication-levels
		.level-1
		.level-2
		.level-3
		.level-4
		.level-5
		.level-6
		.level-7
		.level-8
		.level-9
		.level-10
		.level-11
		.level-12


