.skills__teamwork-title {
	span {
		font-family: $Regular
		font-size: 28px
		text-transform: uppercase
		display: block
		text-align: center
		position: relative
    	bottom: -1px
    	left: -21px
    	display: block
	}
}