.skills__teamwork-levels {
	display: flex
	.level-1, .level-2, .level-3, .level-4,
	.level-5, .level-6, .level-7, .level-8,
	.level-9, .level-10, .level-11 {
		width: 19px
		height: 19px
		background: $blue-1
		border-radius: 15px
		top: -21px
		left: 42px
		position: relative
		margin-left: 11px
		display: inline-block
	}
	
	.level-12 {
		width: 19px
		height: 19px
		background: $white-1
		border-radius: 15px
		top: -21px
		left: 42px
		position: relative
		margin-left: 11px
		display: inline-block
	}
}