/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1367 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1366 px */
@media screen and (max-width: 1310px) {
	.right-column {
		margin-left: -56px
	}
}

@media screen and (max-width: 1264px) {
	li {
		margin-bottom: 3%
	}
	
	.profile__title hr {
		width: 33.2% !important
		left: 97px !important
	}
	
	.contact__title hr {
		width: 43.4% !important
		left: 186px !important		
	}
	
	.skills__title hr {
		width: 53.4% !important
		left: 159px !important
	}
	
	.education__title hr {
		width: 49% !important
		left: 174px !important
	}
	
	.experience__title hr {
		left: -5px !important
	}
	
	.software__title hr {
		left: 9px !important
	}

}

@media screen and (max-width: 1213px) {
	.software__after-effects-level, .software__dreamweaver-level,
	.software__html-and-css3-level, .software__illustrator-level, 
	.software__indesign-level, .software__photoshop-level {
		width: 90%
	}
	
	.profile__title hr {
		left: 103px !important
	}
	
	.contact__title hr {
		left: 194px !important		
	}
}

@media screen and (max-width: 1156px) {
	.software__after-effects-level, .software__dreamweaver-level,
	.software__html-and-css3-level, .software__illustrator-level, 
	.software__indesign-level, .software__photoshop-level {
		width: 80%
	}
}

@media screen and (max-width: 1135px) {
	.profile__title hr {
		width: 30.2% !important
		left: 111px !important
	}

	.contact__title hr {
		width: 40.4% !important
		left: 196px !important		
	}
}

@media screen and (max-width: 1118px) {
	.wrapper__skills {
		margin-left: -56px
	}
}

@media screen and (max-width: 1098px) {
	.right-column {
		margin-left: -76px
	}

	.experience h3 {
		font-size: 0.9em
	}

	.experience p {
		font-size: 0.9em
	}

	.education h3 {
		font-size: 0.9em
	}

	.education p {
		font-size: 0.9em
	}

}

@media screen and (max-width: 1070px) {
	.profile__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
		hr {
			width: 33.2% !important
			top: -71px !important
			left: 92px !important
		}
	}

	.contact__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
		
		hr {
			top: -74px !important
			width: 43.4% !important
			left: 180px !important
		}
	}

	.skills__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
		hr {
			left: 149px !important
		}
	}

	.software__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}

	.education__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
		hr {
			left: 160px !important
			top: -76px !important
		}
	}

	.experience__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
		hr {
			left: -10px !important
			bottom: 9px !important
		}
	}
	
	.software__title hr {
		left: 5px !important
		bottom: 5px !important
	}

	.wrapper__skills {
		margin-left: -45px
	}
	
	.experience__title hr {
		left: -10px !important
		bottom: 9px !important
	}
}

@media screen and (max-width: 1049px) {
	.experience h3 {
		font-size: 0.8em
	}

	.experience p {
		font-size: 0.8em
	}

	.education h3 {
		font-size: 0.8em
	}

	.education p {
		font-size: 0.8em
	}
	
	.profile__title hr {
		width: 29.2% !important
	}
	
	.contact__title hr {
		width: 36.4% !important
		left: 176px !important
	}
	
	.skills__title hr {
		width: 46.4% !important
	}
	
}

@media screen and (max-width: 990px) {
	.right-column {
		margin-left: -105px
	}
	
	.profile__title hr {
		width: 23.2% !important
	}
	
	.contact__title hr {
		width: 31.4% !important
		left: 168px !important
	}
	
	.skills__title hr {
		width: 46.4% !important
	}
	
	.education__title hr {
		width: 40% !important
	}
}

@media screen and (max-width: 975px) {
	.experience__company-name {
		font-size: 1.5em !important
	}

	.education__master-degree {
		font-size: 1.5em !important
	}

	.experience h3 {
		font-size: 0.7em
	}

	.experience p {
		font-size: 0.7em
	}

	.education h3 {
		font-size: 0.7em
	}

	.education p {
		font-size: 0.7em
	}

	.profile__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
		span {
			top: -22px !important
		}
		hr {
			top: -65px !important
		}
	}

	.contact__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
		span {
			top: -21px !important
		}
		hr {
			top: -65px !important
		}
	}

	.skills__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
		hr {
			left: 134px !important
			bottom: 65px !important
		}
	}

	.software__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}

	.education__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
		hr {
			left: 137px !important
		}
	}

	.experience__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
}

/* 769 - 960 px */
@media screen and (max-width: 946px) {
	.software__after-effects-level, .software__dreamweaver-level,
	.software__html-and-css3-level, .software__illustrator-level,
	.software__indesign-level, .software__photoshop-level {
		width: 70%
	}
	
	.contact__title hr {
		left: 160px !important
	}
	.education__title {
		span {
			top: -21px !important
		}
		hr {
			top: -64px !important
		}
	}
	
	.experience__title {
		span {
			bottom: -12px !important
		}
		hr {
			bottom: 13px !important
		}
	}
		
	.software__title {
		span {
			bottom: -14px !important
		}
		hr {
			bottom: 12px !important
		}
	}
}

@media screen and (max-width: 920px) {
	.wrapper {
		display: block !important
		margin: 0px 65px !important
	}

	.column1 {
		width: 100% !important
		margin-left: -45px
	}

	.column2 {
		width: 100% !important
		margin-left: 0px !important
	}

	.profile__text {
		width: 110% !important
	}

	.wrapper__contact {
		margin-left: 50%
	}

	.wrapper_introduction {
		margin-left: 30%
	}

	.wrapper__skills {
		margin-left: 34%
		width: 100%
		margin-bottom: 50px
	}

	.wrapper-column {
		margin-left: 5%
	}

	.left-column {
		margin-left: 0px !important
		width: 100%
	}

	.right-column {
		margin-left: -200px !important
		width: 100%
	}

	.software {
		margin-bottom: 50px
	}

	.education__master-degree {
		font-size: 1.7em !important
	}
	
	.education h3, p {
		font-size: 1em !important
	}

	.experience__company-name {
		font-size: 1.7em !important
	}

	.experience h3, p {
		font-size: 1em !important
	}
	
	.profile__title {
		span {
			top: -22px !important
		}
		hr {
			width: 77.2% !important
			left: 153px !important
		}
	}
	
	.contact__title {
		hr {
			width: 112.2% !important
			left: 252px !important
		}
	}
	
	.skills__title {
		hr {
			width: 120.2% !important
			left: 211px !important
		}
	}
	
	.education__title {
		hr {
			width: 65% !important
			left: 143px !important
		}
	}
	
	.experience__title {
		hr {
			width: 65% !important
		}
	}
	
	.software__title {
		hr {
			width: 68% !important
		}
	}
}

@media screen and (max-width: 864px) {
	.wrapper-column {
		margin-left: 0
	}

	.left-column {
		width: 80%
	}

	.right-column {
		width: 80%
	}
}

@media screen and (max-width: 815px) {
	.wrapper-column {
		display: block !important
	}

	.left-column {
		margin: 0 auto !important
	}

	.right-column {
		margin: 0 auto !important
		width 100%
	}

	.software__after-effects-title span {
		left: 11.5% !important
	}

	.software__after-effects-level {
		position: relative
		left: -1% !important
	}

	.software__dreamweaver-title span{
		left: 11.5% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -1% !important
	}
	
	.software__html-and-css3-title span {
		left: 11.5% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -1% !important
	}
	
	.contact__address {
		h3 {
			font-size: 1.2em !important
		}
		span {
			font-size: 1.2em !important
		}
	}

	.contact__e-mail {
		h3 {
			font-size: 1.1em !important
		}
		span {
			font-size: 1.2em !important
		}
	}

	.contact__phone {
		h3 {
			font-size: 1.2em !important
		}
		span {
			font-size: 1.2em !important
		}
	}

	.contact__website {
		h3 {
			font-size: 1.2em !important
		}
		span {
			font-size: 1.2em !important
		}
	}
}

@media screen and (max-width: 789px) {
	.software__after-effects-level {
		position: relative
		left: -1.5% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -1.5% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -1.5% !important
	}
}

/* 481 - 768 px */
@media screen and (max-width: 754px) {
	.software__after-effects-level {
		position: relative
		left: -2% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -2% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -2% !important
	}
}

@media screen and (max-width: 717px) {
	.introduction__name {
		font-size: 3.1em !important
	}

	.introduction__surname {
		font-size: 3.61em !important
	}

	.introduction__job {
		font-size: 1.28em !important
	}

	.software__after-effects-level {
		position: relative
		left: -3% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -3% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -3% !important
	}
}

@media screen and (max-width: 674px) {
	.software__after-effects-level {
		position: relative
		left: -4% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -4% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -4% !important
	}	
}

@media screen and (max-width: 646px) {
	.software__after-effects-level {
		position: relative
		left: -5% !important
	}

	.software__dreamweaver-level {
		position: relative
		left: -5% !important
	}

	.software__html-and-css3-level {
		position: relative
		left: -5% !important
	}
}

@media screen and (max-width: 619px) {
	.education__master-degree {
		font-size: 1.6em !important
	}

	.experience__company-name {
		font-size: 1.6em !important
	}
}

@media screen and (max-width: 591px) {
	.education__master-degree {
		font-size: 1.5em !important
	}

	.experience__company-name {
		font-size: 1.5em !important
	}
}

@media screen and (max-width: 556px) {
	.wrapper__skills {
		margin-left: -17%
		width: 115%
	}

	.wrapper__contact {
		margin-left: 0%
	}

	.wrapper-column {
		margin-left: -25%
	}
}

@media screen and (max-width: 563px) {
	.education__master-degree {
		font-size: 1.4em !important
	}

	.experience__company-name {
		font-size: 1.4em !important
	}
}

@media screen and (max-width: 535px) {
	.education__master-degree {
		font-size: 1.3em !important
	}

	.experience__company-name {
		font-size: 1.3em !important
	}
}

@media screen and (max-width: 507px) {
	.education__master-degree {
		font-size: 1.2em !important
	}

	.experience__company-name {
		font-size: 1.2em !important
	}
}

@media screen and (max-width: 502px) {
	li {
		margin-bottom: 7%
	}
}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
	.education__master-degree {
		font-size: 1.1em !important
	}

	.experience__company-name {
		font-size: 1.1em !important
	}
}

@media screen and (max-width: 451px) {
	.education__master-degree {
		font-size: 1.1em !important
	}

	.experience__company-name {
		font-size: 1.1em !important
	}

	li {
		margin-bottom: 20%
	}
}

@media screen and (max-width: 407px) {
	li {
		margin-bottom: 30%
	}
}

@media screen and (max-width: 371px) {
	li {
		margin-bottom: 40%
	}
}

@media screen and (max-width: 353px) {
	li {
		margin-bottom: 50%
	}
}

@media screen and (max-width: 346px) {
	li {
		margin-bottom: 60%
	}
}

@media screen and (max-width: 330px) {
	li {
		margin-bottom: 70%
	}
}

@media screen and (max-width: 320px) {
	li {
		margin-bottom: 80%
	}
}