/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1367 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1366 px */
@media screen and (max-width: 1310px) {
	.right-column {
		margin-left: -56px;
	}
}

@media screen and (max-width: 1264px) {
	li {
		margin-bottom: 3%;
	}

}

@media screen and (max-width: 1213px) {
	.software__after-effects-level, .software__dreamweaver-level,
	.software__html-and-css3-level, .software__illustrator-level, 
	.software__indesign-level, .software__photoshop-level {
		width: 90%;
	}
}

@media screen and (max-width: 1156px) {
	.software__after-effects-level, .software__dreamweaver-level,
	.software__html-and-css3-level, .software__illustrator-level, 
	.software__indesign-level, .software__photoshop-level {
		width: 80%;
	}
}

@media screen and (max-width: 1118px) {
	.skills__creative-title span {
		left: 157px !important
	}
	
	.skills__teamwork-title span {
		left: 138px !important
	}
	
	.skills__innovate-title span {
		left: 150px !important
	}
	
	.skills__communication-title span {
		left: 104px !important
	}
}

@media screen and (max-width: 1098px) {
	.right-column {
		margin-left: -76px;
	}
	
	.experience h3 {
		font-size: 0.9em;
	}
	
	.experience p {
		font-size: 0.9em;
	}
	
	.education h3 {
		font-size: 0.9em;
	}
	
	.education p {
		font-size: 0.9em;
	}

}

@media screen and (max-width: 1085px) {

	.introduction__name  {
		font-size: 3.5em !important
	}
	
	.introduction__surname  {
		font-size: 4.19em !important
	}
	
	.introduction__job  {
		font-size: 1.66em !important
	}

}

@media screen and (max-width: 1049px) {
	.experience h3 {
		font-size: 0.8em;
	}
	
	.experience p {
		font-size: 0.8em;
	}
	
	.education h3 {
		font-size: 0.8em;
	}
	
	.education p {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 1033px) {
	.introduction__name  {
		font-size: 3.4em !important
	}
	
	.introduction__surname  {
		font-size: 3.9em !important
	}
	
	.introduction__job  {
		font-size: 1.46em !important
	}
	
	.profile__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.contact__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.skills__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.software__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.education__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.experience__title {
		font-size: 2.6em !important
		img {
			height: 70px !important
			width: 70px !important
		}
	}
	
	.skills__creative-title span {
		left: 137px !important
	}
	
	.skills__teamwork-title span {
		left: 118px !important
	}
	
	.skills__innovate-title span {
		left: 130px !important
	}
	
	.skills__communication-title span {
		left: 84px !important
	}
}

@media screen and (max-width: 1008px) {
	.introduction__name  {
		font-size: 3.2em !important
	}
	
	.introduction__surname  {
		font-size: 3.7em !important
	}
	
	.introduction__job  {
		font-size: 1.26em !important
	}
}

@media screen and (max-width: 990px) {
	.right-column {
		margin-left: -105px
	}
}

@media screen and (max-width: 975px) {
	.experience__company-name {
		font-size: 1.5em !important			
	}
	
	.education__master-degree {
		font-size: 1.5em !important
	}
	
	.experience h3 {
		font-size: 0.7em
	}
	
	.experience p {
		font-size: 0.7em
	}
	
	.education h3 {
		font-size: 0.7em
	}
	
	.education p {
		font-size: 0.7em
	}
	
	.profile__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
	
	.contact__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
	
	.skills__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
	
	.software__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
	
	.education__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
	
	.experience__title {
		font-size: 2.4em !important
		img {
			height: 65px !important
			width: 65px !important
		}
	}
}





















/* 769 - 960 px */
@media screen and (max-width: 960px) {

}

/* 481 - 768 px */
@media screen and (max-width: 768px) {

}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
	
}