/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1367 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1366 px */
// @media screen and (max-width: 1366px) {
// 	@media (max-width: 1300px) {
// 			.profile__title {
// 				hr {
// 					position: relative
// 					left: 100px
// 				}
// 			}
// 	}
// }

	// @media (max-width: 1300px) {
	// 	.profile__title {
	// 		hr {
	// 			position: relative
	// 			left: 1300px
	// 		}
	// 	}
	// }

/* 769 - 960 px */
@media screen and (max-width: 960px) {

}

/* 481 - 768 px */
@media screen and (max-width: 768px) {

}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
	
}