extends blocks/common.blocks/common/template.pug

block variables
	- title="Resume site"

block content
	.wrapper
		include blocks/common.blocks/column1/column1.pug
		include blocks/common.blocks/column2/column2.pug
			