extends blocks/common.blocks/common/template.pug

block variables
	- title="Webpack app"

block content
	.wrapper 
		.MyriadPro-Bold
			| MyriadPro-Bold
		.MyriadPro-Regular
			| MyriadPro-Regular
		.MyriadPro-LightSemiExt
			| MyriadPro-LightSemiExt
			