// block common
@import "blocks/common.blocks/common/reset";
@import "blocks/common.blocks/common/fonts";
@import "blocks/common.blocks/common/colors";
@import "blocks/common.blocks/common/media";
// block wrapper
@import "blocks/common.blocks/wrapper/wrapper";
// block column1
@import "blocks/common.blocks/column1/column1";
// block column2
@import "blocks/common.blocks/column2/column2";
// block introduction
@import "blocks/common.blocks/introduction/introduction";
@import "blocks/common.blocks/introduction/__round/introduction__round";
@import "blocks/common.blocks/introduction/__circle/introduction__circle";
@import "blocks/common.blocks/introduction/__name/introduction__name";
@import "blocks/common.blocks/introduction/__surname/introduction__surname";
@import "blocks/common.blocks/introduction/__job/introduction__job";
// block profile
@import "blocks/common.blocks/profile/profile";
@import "blocks/common.blocks/profile/__text/profile__text";
@import "blocks/common.blocks/profile/__title/profile__title";
// block contact
@import "blocks/common.blocks/contact/contact";
@import "blocks/common.blocks/contact/__title/contact__title";
@import "blocks/common.blocks/contact/__address/contact__address";
@import "blocks/common.blocks/contact/__e-mail/contact__e-mail";
@import "blocks/common.blocks/contact/__phone/contact__phone";
@import "blocks/common.blocks/contact/__website/contact__website";
// block skills
@import "blocks/common.blocks/skills/skills";
@import "blocks/common.blocks/skills/__title/skills__title";
@import "blocks/common.blocks/skills/__creative-title/skills__creative-title";
@import "blocks/common.blocks/skills/__creative-levels/skills__creative-levels";
@import "blocks/common.blocks/skills/__teamwork-title/skills__teamwork-title";
@import "blocks/common.blocks/skills/__teamwork-levels/skills__teamwork-levels";
@import "blocks/common.blocks/skills/__innovate-title/skills__innovate-title";
@import "blocks/common.blocks/skills/__innovate-levels/skills__innovate-levels";
@import "blocks/common.blocks/skills/__communication-title/skills__communication-title";
@import "blocks/common.blocks/skills/__communication-levels/skills__communication-levels";
// block education
@import "blocks/common.blocks/education/education";
@import "blocks/common.blocks/education/__title/education__title";
@import "blocks/common.blocks/education/__master-degree/education__master-degree";
@import "blocks/common.blocks/education/__description/education__description";
// block experience
@import "blocks/common.blocks/experience/experience";
@import "blocks/common.blocks/experience/__title/experience__title";
@import "blocks/common.blocks/experience/__company-name/experience__company-name";
@import "blocks/common.blocks/experience/__description/experience__description";
// block software
@import "blocks/common.blocks/software/software";
@import "blocks/common.blocks/software/__title/software__title";
@import "blocks/common.blocks/software/__photoshop-title/software__photoshop-title";
@import "blocks/common.blocks/software/__photoshop-level/software__photoshop-level";
@import "blocks/common.blocks/software/__illustrator-title/software__illustrator-title";
@import "blocks/common.blocks/software/__illustrator-level/software__illustrator-level";
@import "blocks/common.blocks/software/__indesign-title/software__indesign-title";
@import "blocks/common.blocks/software/__indesign-level/software__indesign-level";
@import "blocks/common.blocks/software/__dreamweaver-title/software__dreamweaver-title";
@import "blocks/common.blocks/software/__dreamweaver-level/software__dreamweaver-level";
@import "blocks/common.blocks/software/__after-effects-title/software__after-effects-title";
@import "blocks/common.blocks/software/__after-effects-level/software__after-effects-level";
@import "blocks/common.blocks/software/__html-and-css3-title/software__html-and-css3-title";
@import "blocks/common.blocks/software/__html-and-css3-level/software__html-and-css3-level";

