.software__html-and-css3-title {
	margin-bottom: 37px;
	span {
		font-family: $Regular
		font-size: 28px
		text-transform: uppercase
		display: block
		text-align: left
		position: relative
    	bottom: -4px
    	left: 7px
	}
}