html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(../fonts/MyriadPro-Regular.eot);
  src: local('\263A'), url(../fonts/MyriadPro-Regular.woff) format('woff'), url(../fonts/MyriadPro-Regular.ttf) format('truetype'), url(../fonts/MyriadPro-Regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url(../fonts/MyriadPro-Bold.eot);
  src: local('\263A'), url(../fonts/MyriadPro-Bold.woff) format('woff'), url(../fonts/MyriadPro-Bold.ttf) format('truetype'), url(../fonts/MyriadPro-Bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-LightSemiExt';
  src: url(../fonts/MyriadPro-LightSemiExt.eot);
  src: local('\263A'), url(../fonts/MyriadPro-LightSemiExt.woff) format('woff'), url(../fonts/MyriadPro-LightSemiExt.ttf) format('truetype'), url(../fonts/MyriadPro-LightSemiExt.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 1310px) {
  .right-column {
    margin-left: -56px;
  }
}
@media screen and (max-width: 1264px) {
  li {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 1213px) {
  .software__after-effects-level,
  .software__dreamweaver-level,
  .software__html-and-css3-level,
  .software__illustrator-level,
  .software__indesign-level,
  .software__photoshop-level {
    width: 90%;
  }
}
@media screen and (max-width: 1156px) {
  .software__after-effects-level,
  .software__dreamweaver-level,
  .software__html-and-css3-level,
  .software__illustrator-level,
  .software__indesign-level,
  .software__photoshop-level {
    width: 80%;
  }
}
@media screen and (max-width: 1118px) {
  .wrapper__skills {
    margin-left: -56px;
  }
}
@media screen and (max-width: 1098px) {
  .right-column {
    margin-left: -76px;
  }
  .experience h3 {
    font-size: 0.9em;
  }
  .experience p {
    font-size: 0.9em;
  }
  .education h3 {
    font-size: 0.9em;
  }
  .education p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1049px) {
  .experience h3 {
    font-size: 0.8em;
  }
  .experience p {
    font-size: 0.8em;
  }
  .education h3 {
    font-size: 0.8em;
  }
  .education p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1033px) {
  .profile__title {
    font-size: 2.6em !important;
  }
  .profile__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .contact__title {
    font-size: 2.6em !important;
  }
  .contact__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .skills__title {
    font-size: 2.6em !important;
  }
  .skills__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .software__title {
    font-size: 2.6em !important;
  }
  .software__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .education__title {
    font-size: 2.6em !important;
  }
  .education__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .experience__title {
    font-size: 2.6em !important;
  }
  .experience__title img {
    height: 70px !important;
    width: 70px !important;
  }
  .wrapper__skills {
    margin-left: -45px;
  }
}
@media screen and (max-width: 990px) {
  .right-column {
    margin-left: -105px;
  }
}
@media screen and (max-width: 975px) {
  .experience__company-name {
    font-size: 1.5em !important;
  }
  .education__master-degree {
    font-size: 1.5em !important;
  }
  .experience h3 {
    font-size: 0.7em;
  }
  .experience p {
    font-size: 0.7em;
  }
  .education h3 {
    font-size: 0.7em;
  }
  .education p {
    font-size: 0.7em;
  }
  .profile__title {
    font-size: 2.4em !important;
  }
  .profile__title img {
    height: 65px !important;
    width: 65px !important;
  }
  .contact__title {
    font-size: 2.4em !important;
  }
  .contact__title img {
    height: 65px !important;
    width: 65px !important;
  }
  .skills__title {
    font-size: 2.4em !important;
  }
  .skills__title img {
    height: 65px !important;
    width: 65px !important;
  }
  .software__title {
    font-size: 2.4em !important;
  }
  .software__title img {
    height: 65px !important;
    width: 65px !important;
  }
  .education__title {
    font-size: 2.4em !important;
  }
  .education__title img {
    height: 65px !important;
    width: 65px !important;
  }
  .experience__title {
    font-size: 2.4em !important;
  }
  .experience__title img {
    height: 65px !important;
    width: 65px !important;
  }
}
@media screen and (max-width: 946px) {
  .software__after-effects-level,
  .software__dreamweaver-level,
  .software__html-and-css3-level,
  .software__illustrator-level,
  .software__indesign-level,
  .software__photoshop-level {
    width: 70%;
  }
}
@media screen and (max-width: 920px) {
  .wrapper {
    display: block !important;
    margin: 0px 65px !important;
  }
  .column1 {
    width: 100% !important;
    margin-left: -45px;
  }
  .column2 {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .profile__text {
    width: 110% !important;
  }
  .wrapper__contact {
    margin-left: 50%;
  }
  .wrapper_introduction {
    margin-left: 30%;
  }
  .wrapper__skills {
    margin-left: 34%;
    width: 100%;
    margin-bottom: 50px;
  }
  .wrapper-column {
    margin-left: 5%;
  }
  .left-column {
    margin-left: 0px !important;
    width: 100%;
  }
  .right-column {
    margin-left: -200px !important;
    width: 100%;
  }
  .software {
    margin-bottom: 50px;
  }
  .education__master-degree {
    font-size: 1.7em !important;
  }
  .education h3,
  p {
    font-size: 1em !important;
  }
  .experience__company-name {
    font-size: 1.7em !important;
  }
  .experience h3,
  p {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 864px) {
  .wrapper-column {
    margin-left: 0;
  }
  .left-column {
    width: 80%;
  }
  .right-column {
    width: 80%;
  }
}
@media screen and (max-width: 815px) {
  .wrapper-column {
    display: block !important;
  }
  .left-column {
    margin: 0 auto !important;
  }
  .right-column {
    margin: 0 auto !important;
    width: 100%;
  }
  .software__after-effects-title span {
    left: 11.5% !important;
  }
  .software__after-effects-level {
    position: relative;
    left: -1% !important;
  }
  .software__dreamweaver-title span {
    left: 11.5% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -1% !important;
  }
  .software__html-and-css3-title span {
    left: 11.5% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -1% !important;
  }
  .contact__address h3 {
    font-size: 1.2em !important;
  }
  .contact__address span {
    font-size: 1.2em !important;
  }
  .contact__e-mail h3 {
    font-size: 1.1em !important;
  }
  .contact__e-mail span {
    font-size: 1.2em !important;
  }
  .contact__phone h3 {
    font-size: 1.2em !important;
  }
  .contact__phone span {
    font-size: 1.2em !important;
  }
  .contact__website h3 {
    font-size: 1.2em !important;
  }
  .contact__website span {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 789px) {
  .software__after-effects-level {
    position: relative;
    left: -1.5% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -1.5% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -1.5% !important;
  }
}
@media screen and (max-width: 754px) {
  .software__after-effects-level {
    position: relative;
    left: -2% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -2% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -2% !important;
  }
}
@media screen and (max-width: 717px) {
  .introduction__name {
    font-size: 3.1em !important;
  }
  .introduction__surname {
    font-size: 3.61em !important;
  }
  .introduction__job {
    font-size: 1.28em !important;
  }
  .software__after-effects-level {
    position: relative;
    left: -3% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -3% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -3% !important;
  }
}
@media screen and (max-width: 674px) {
  .software__after-effects-level {
    position: relative;
    left: -4% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -4% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -4% !important;
  }
}
@media screen and (max-width: 646px) {
  .software__after-effects-level {
    position: relative;
    left: -5% !important;
  }
  .software__dreamweaver-level {
    position: relative;
    left: -5% !important;
  }
  .software__html-and-css3-level {
    position: relative;
    left: -5% !important;
  }
}
@media screen and (max-width: 619px) {
  .education__master-degree {
    font-size: 1.6em !important;
  }
  .experience__company-name {
    font-size: 1.6em !important;
  }
}
@media screen and (max-width: 591px) {
  .education__master-degree {
    font-size: 1.5em !important;
  }
  .experience__company-name {
    font-size: 1.5em !important;
  }
}
@media screen and (max-width: 556px) {
  .wrapper__skills {
    margin-left: -17%;
    width: 115%;
  }
  .wrapper__contact {
    margin-left: 0%;
  }
  .wrapper-column {
    margin-left: -25%;
  }
}
@media screen and (max-width: 563px) {
  .education__master-degree {
    font-size: 1.4em !important;
  }
  .experience__company-name {
    font-size: 1.4em !important;
  }
}
@media screen and (max-width: 535px) {
  .education__master-degree {
    font-size: 1.3em !important;
  }
  .experience__company-name {
    font-size: 1.3em !important;
  }
}
@media screen and (max-width: 507px) {
  .education__master-degree {
    font-size: 1.2em !important;
  }
  .experience__company-name {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 502px) {
  li {
    margin-bottom: 7%;
  }
}
@media screen and (max-width: 480px) {
  .education__master-degree {
    font-size: 1.1em !important;
  }
  .experience__company-name {
    font-size: 1.1em !important;
  }
}
@media screen and (max-width: 451px) {
  .education__master-degree {
    font-size: 1.1em !important;
  }
  .experience__company-name {
    font-size: 1.1em !important;
  }
  li {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 407px) {
  li {
    margin-bottom: 30%;
  }
}
@media screen and (max-width: 371px) {
  li {
    margin-bottom: 40%;
  }
}
@media screen and (max-width: 353px) {
  li {
    margin-bottom: 50%;
  }
}
@media screen and (max-width: 346px) {
  li {
    margin-bottom: 60%;
  }
}
@media screen and (max-width: 330px) {
  li {
    margin-bottom: 70%;
  }
}
@media screen and (max-width: 320px) {
  li {
    margin-bottom: 80%;
  }
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 85px 65px;
  position: relative;
}
.column1 {
  width: 48.32723279648609%;
}
.column2 {
  width: 52%;
  margin-left: -5px;
}
.introduction {
  margin: 13px 110px -152px auto;
  width: 66.77649643053267%;
}
.introduction__round {
  width: 256px;
  height: 256px;
  border: 1px solid #3d6cb0;
  border-radius: 130px;
  position: relative;
  top: -2px;
  left: 20px;
}
.introduction__circle {
  width: 223px;
  height: 223px;
  background: #3d6cb0;
  border-radius: 130px;
  top: -242px;
  left: 38px;
  position: relative;
}
.introduction__name {
  white-space: nowrap;
  margin-top: 30px;
  font-size: 3.7em;
  text-transform: uppercase;
  font-family: 'MyriadPro-LightSemiExt';
  position: relative;
  top: -223px;
}
.introduction__surname {
  font-size: 4.21em;
  text-transform: uppercase;
  font-family: 'MyriadPro-Bold';
  line-height: 0.9;
  position: relative;
  top: -221px;
}
.introduction__job {
  font-size: 1.68em;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'MyriadPro-Bold';
  line-height: 2.1;
  position: relative;
  left: 35px;
  top: -221px;
}
.profile {
  margin-bottom: 6px;
}
.profile__text {
  font-family: 'MyriadPro-Regular';
  font-size: 1.06em;
  line-height: 1.3;
  width: 83%;
  position: relative;
  top: -48px;
}
.profile__text span {
  font-family: 'MyriadPro-Bold';
}
.profile__title {
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
}
.profile__title img {
  height: 83px;
  width: 83px;
}
.profile__title span {
  position: relative;
  top: -27px;
  left: 12px;
}
.profile__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  top: -76px;
  width: 31.2%;
  color: #3d6cb0;
  left: 71px;
}
.contact {
  width: 68.96159963644627%;
  margin-bottom: 44px;
}
.contact__title {
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
  margin-bottom: -27px;
}
.contact__title img {
  height: 83px;
  width: 83px;
}
.contact__title span {
  position: relative;
  top: -30px;
  left: 12px;
}
.contact__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  top: -79px;
  width: 40.4%;
  color: #3d6cb0;
  left: 172px;
}
.contact__address {
  margin-bottom: 39px;
  white-space: nowrap;
}
.contact__address h3 {
  display: inline;
  font-family: 'MyriadPro-Bold';
  text-transform: uppercase;
  color: #3d6cb0;
  font-size: 1.4em;
}
.contact__address span {
  font-family: 'MyriadPro-Regular';
  font-size: 1.4em;
  position: relative;
  left: 51px;
}
.contact__e-mail {
  margin-bottom: 37px;
  white-space: nowrap;
}
.contact__e-mail h3 {
  display: inline;
  font-family: 'MyriadPro-Bold';
  text-transform: uppercase;
  color: #3d6cb0;
  font-size: 1.4em;
}
.contact__e-mail span {
  font-family: 'MyriadPro-Regular';
  font-size: 1.4em;
  position: relative;
  left: 75px;
}
.contact__phone {
  margin-bottom: 38px;
  white-space: nowrap;
}
.contact__phone h3 {
  display: inline;
  font-family: 'MyriadPro-Bold';
  text-transform: uppercase;
  color: #3d6cb0;
  font-size: 1.4em;
}
.contact__phone span {
  font-family: 'MyriadPro-Regular';
  font-size: 1.4em;
  position: relative;
  left: 73px;
}
.contact__website h3 {
  display: inline;
  font-family: 'MyriadPro-Bold';
  text-transform: uppercase;
  color: #3d6cb0;
  font-size: 1.4em;
}
.contact__website span {
  font-family: 'MyriadPro-Regular';
  font-size: 1.4em;
  position: relative;
  left: 56px;
}
.skills {
  width: 68.96159963644627%;
}
.skills__title {
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
  margin-bottom: 29px;
}
.skills__title img {
  height: 83px;
  width: 83px;
}
.skills__title span {
  position: relative;
  bottom: 24px;
  left: 9px;
}
.skills__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  bottom: 70px;
  width: 52.4%;
  color: #3d6cb0;
  left: 145px;
}
.skills__creative-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  display: block;
  position: relative;
  bottom: 34px;
  left: 177px;
}
.skills__creative-levels {
  display: flex;
}
.skills__creative-levels .level-1,
.skills__creative-levels .level-2,
.skills__creative-levels .level-3,
.skills__creative-levels .level-4,
.skills__creative-levels .level-5,
.skills__creative-levels .level-6,
.skills__creative-levels .level-7,
.skills__creative-levels .level-8,
.skills__creative-levels .level-9 {
  width: 19px;
  height: 19px;
  background: #3d6cb0;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.67%;
  display: inline-block;
}
.skills__creative-levels .level-10,
.skills__creative-levels .level-11,
.skills__creative-levels .level-12 {
  width: 19px;
  height: 19px;
  background: #e6e6e6;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.97%;
  display: inline-block;
}
.skills__teamwork-title {
  margin-bottom: 37px;
}
.skills__teamwork-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -3px;
  left: 158px;
}
.skills__teamwork-levels {
  display: flex;
}
.skills__teamwork-levels .level-1,
.skills__teamwork-levels .level-2,
.skills__teamwork-levels .level-3,
.skills__teamwork-levels .level-4,
.skills__teamwork-levels .level-5,
.skills__teamwork-levels .level-6,
.skills__teamwork-levels .level-7,
.skills__teamwork-levels .level-8,
.skills__teamwork-levels .level-9,
.skills__teamwork-levels .level-10,
.skills__teamwork-levels .level-11 {
  width: 19px;
  height: 19px;
  background: #3d6cb0;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.67%;
  display: inline-block;
}
.skills__teamwork-levels .level-12 {
  width: 19px;
  height: 19px;
  background: #e6e6e6;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.97%;
  display: inline-block;
}
.skills__innovate-title {
  margin-bottom: 37px;
}
.skills__innovate-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -4px;
  left: 170px;
}
.skills__innovate-levels {
  display: flex;
}
.skills__innovate-levels .level-1,
.skills__innovate-levels .level-2,
.skills__innovate-levels .level-3,
.skills__innovate-levels .level-4,
.skills__innovate-levels .level-5,
.skills__innovate-levels .level-6 {
  width: 19px;
  height: 19px;
  background: #3d6cb0;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.67%;
  display: inline-block;
}
.skills__innovate-levels .level-7,
.skills__innovate-levels .level-8,
.skills__innovate-levels .level-9,
.skills__innovate-levels .level-10,
.skills__innovate-levels .level-11,
.skills__innovate-levels .level-12 {
  width: 19px;
  height: 19px;
  background: #e6e6e6;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.97%;
  display: inline-block;
}
.skills__communication-title {
  margin-bottom: 37px;
}
.skills__communication-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -4px;
  left: 124px;
}
.skills__communication-levels {
  display: flex;
}
.skills__communication-levels .level-1,
.skills__communication-levels .level-2,
.skills__communication-levels .level-3,
.skills__communication-levels .level-4,
.skills__communication-levels .level-5,
.skills__communication-levels .level-6,
.skills__communication-levels .level-7,
.skills__communication-levels .level-8,
.skills__communication-levels .level-9,
.skills__communication-levels .level-10,
.skills__communication-levels .level-11 {
  width: 19px;
  height: 19px;
  background: #3d6cb0;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.67%;
  display: inline-block;
}
.skills__communication-levels .level-12 {
  width: 19px;
  height: 19px;
  background: #e6e6e6;
  border-radius: 15px;
  top: -21px;
  left: 42px;
  position: relative;
  margin-left: 2.97%;
  display: inline-block;
}
.education {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}
.education ul {
  list-style: none;
  margin-left: -31px;
}
.education li {
  list-style-type: none;
  height: 152px;
}
.education li:before {
  content: '';
  display: inline-block;
  height: 23px;
  width: 23px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
}
.education__title {
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
  margin-bottom: -30px;
}
.education__title img {
  height: 83px;
  width: 83px;
  position: relative;
  left: -45px;
}
.education__title span {
  position: relative;
  top: -31px;
  left: -25px;
}
.education__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  top: -80px;
  left: 164px;
  width: 54%;
  color: #3d6cb0;
}
.education__master-degree {
  margin-left: 44px;
  font-size: 1.7em;
  line-height: 1.2;
  position: relative;
  top: -28px;
  margin-bottom: 20px;
}
.education__master-degree span {
  text-transform: uppercase;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
}
.education__master-degree p {
  text-transform: uppercase;
  font-family: 'MyriadPro-Regular';
}
.education__master-degree h3 {
  display: inline;
  font-family: 'MyriadPro-Regular';
}
.education__description {
  margin-left: 44px;
  position: relative;
  top: -39px;
}
.education__description span {
  font-family: 'MyriadPro-Regular';
  font-size: 17px;
  line-height: 1.2;
}
.experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}
.experience ul {
  list-style: none;
  margin-left: -31px;
}
.experience li {
  list-style-type: none;
  height: 152px;
}
.experience li:before {
  content: '';
  display: inline-block;
  height: 23px;
  width: 23px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
}
.experience__title {
  display: flex;
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
  margin-bottom: 47px;
}
.experience__title img {
  height: 83px;
  width: 83px;
  position: relative;
  left: -45px;
}
.experience__title span {
  position: relative;
  bottom: -18px;
  left: -24px;
}
.experience__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  bottom: 18px;
  left: -20px;
  width: 61%;
  color: #3d6cb0;
}
.experience__company-name {
  margin-left: 44px;
  font-size: 1.7em;
  line-height: 1.2;
  position: relative;
  top: -28px;
  margin-bottom: 20px;
}
.experience__company-name span {
  text-transform: uppercase;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
}
.experience__company-name p {
  text-transform: uppercase;
  font-family: 'MyriadPro-Regular';
}
.experience__company-name h3 {
  display: inline;
  font-family: 'MyriadPro-Regular';
}
.experience__description {
  margin-left: 44px;
  position: relative;
  top: -39px;
}
.experience__description span {
  font-family: 'MyriadPro-Regular';
  font-size: 17px;
  line-height: 1.2;
}
.software {
  display: flex;
  flex-direction: column;
}
.software .wrapper-column {
  display: flex;
}
.software .wrapper-column .left-column {
  margin-left: -50px;
}
.software__title {
  display: flex;
  text-transform: uppercase;
  font-size: 2.8em;
  font-family: 'MyriadPro-Bold';
  color: #3d6cb0;
  margin-bottom: 26px;
}
.software__title img {
  height: 83px;
  width: 83px;
  position: relative;
  left: -45px;
}
.software__title span {
  position: relative;
  bottom: -21px;
  left: -24px;
}
.software__title hr {
  border: 0;
  border-bottom: 5px solid;
  position: relative;
  bottom: 15px;
  left: 3px;
  width: 52%;
  color: #3d6cb0;
}
.software__photoshop-title {
  margin-bottom: 37px;
}
.software__photoshop-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -4px;
  left: 11px;
}
.software__photoshop-level {
  display: flex;
}
.software__photoshop-level .full-level {
  width: 276px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -15px;
  left: 11px;
}
.software__photoshop-level .no-full-level {
  width: 30px;
  height: 24px;
  position: relative;
  top: -15px;
  left: 12px;
  background: #e6e6e6;
}
.software__illustrator-title {
  margin-bottom: 37px;
}
.software__illustrator-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -12px;
  left: 11px;
}
.software__illustrator-level {
  display: flex;
}
.software__illustrator-level .full-level {
  width: 215px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -9px;
  left: 11px;
}
.software__illustrator-level .no-full-level {
  width: 89px;
  height: 24px;
  position: relative;
  top: -9px;
  left: 12px;
  background: #e6e6e6;
}
.software__indesign-title {
  margin-bottom: 37px;
}
.software__indesign-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -19px;
  left: 11px;
}
.software__indesign-level {
  display: flex;
}
.software__indesign-level .full-level {
  width: 171px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -6px;
  left: 11px;
}
.software__indesign-level .no-full-level {
  width: 133px;
  height: 24px;
  position: relative;
  top: -6px;
  left: 12px;
  background: #e6e6e6;
}
.software__dreamweaver-title {
  margin-bottom: 37px;
}
.software__dreamweaver-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -4px;
  left: 90px;
}
.software__dreamweaver-level {
  display: flex;
}
.software__dreamweaver-level .full-level {
  width: 254px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -15px;
  left: 87px;
}
.software__dreamweaver-level .no-full-level {
  width: 52px;
  height: 24px;
  position: relative;
  top: -15px;
  left: 86px;
  background: #e6e6e6;
}
.software__after-effects-title {
  margin-bottom: 37px;
}
.software__after-effects-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -13px;
  left: 90px;
}
.software__after-effects-level {
  display: flex;
}
.software__after-effects-level .full-level {
  width: 189px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -9px;
  left: 87px;
}
.software__after-effects-level .no-full-level {
  width: 119px;
  height: 24px;
  position: relative;
  top: -9px;
  left: 86px;
  background: #e6e6e6;
}
.software__html-and-css3-title {
  margin-bottom: 37px;
}
.software__html-and-css3-title span {
  font-family: 'MyriadPro-Regular';
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  bottom: -19px;
  left: 90px;
}
.software__html-and-css3-level {
  display: flex;
}
.software__html-and-css3-level .full-level {
  width: 277px;
  height: 24px;
  background: #3d6cb0;
  position: relative;
  top: -7px;
  left: 87px;
}
.software__html-and-css3-level .no-full-level {
  width: 29px;
  height: 24px;
  position: relative;
  top: -7px;
  left: 86px;
  background: #e6e6e6;
}
