.contact__phone {
	margin-bottom: 38px
	h3 {
		display: inline
		font-family: $Bold
		text-transform: uppercase
		color: $blue-1
		font-size: 1.4em
	}
	span {
		font-family: $Regular
		font-size: 1.4em
		position: relative
    	left: 73px
	}
}