.profile__title {
	text-transform: uppercase
	font-size: 45px
	font-family: $Bold
	color: $blue-1
	img {
		height: 83px
		width: 83px
	}
	span {
		position: relative
		top: -27px
		left: 12px
	}
	hr {
		border: 0
		border-bottom: 5px solid 
		position: relative
		top: -76px
		width: 31.2%
		color: $blue-1
		left: 71px
	}
}