.software__after-effects-level {
	display: flex
	.full-level {
		width: 189px
		height: 24px
		background: $blue-1
		position: relative
		top: -9px
		left: 87px
	}
	.no-full-level {
		width: 119px
		height: 24px
		position: relative
		top: -9px
		left: 86px
		background: $white-1
	}
}