.software__after-effects-level {
	display: flex
	.full-level {
		width: 188px
		height: 24px
		background: $blue-1
		position: relative
		top: -9px
		margin-left: 74px
	}
	.no-full-level {
		width: 119px
		height: 24px
		position: relative
		top: -9px
		background: $white-1
	}
}