.education__title {
	text-transform: uppercase
	font-size: 2.8em
	font-family: $Bold
	color: $blue-1
	margin-bottom: -30px
	img {
		height: 83px
		width: 83px
		position: relative
		left: -45px
	}
	span {
		position: relative
		top: -31px
		left: -25px
	}
	hr {
		border: 0;
		border-bottom: 5px solid
		position: relative
		top: -80px
		left: 164px
		width: 54%
		color: $blue-1
	}
}