.software__title {
	display: flex
	text-transform: uppercase
	font-size: 2.8em
	font-family: $Bold
	color: $blue-1
	margin-bottom: 26px
	img {
		height: 83px
		width: 83px
		position: relative
		left: -45px
	}
	span {
		position: relative
    	bottom: -21px
    	left: -24px
	}
	hr {
		border: 0;
	    border-bottom: 5px solid
    	position: relative
    	bottom: 15px
    	left: 3px
    	width: 52%
	    color: $blue-1
	}
}