.contact
	.contact__title
		img(src="./img/phone.jpg" alt="contact" title="contact")
		span contact
		hr
	.wrapper__contact
		.contact__address
			h3 address
			span Main Street, City.
		.contact__e-mail
			h3 e-mail
			span contact@domain.com
		.contact__phone
			h3 phone
			span 555-555-555
		.contact__website
			h3 website
			span www.yourweb.com