.skills__creative-title {
	span {
		font-family: $Regular
		font-size: 28px
		text-transform: uppercase
		display: block
		text-align: center
		position: relative;
    	bottom: 34px;
    	left: -19px;
	}
}