.experience {
	display: flex
    flex-direction: column
    margin-bottom: 33px
    ul {
    	list-style: none
    	margin-left: -31px
    }
    li {
    	list-style-type: none
    	height: 152px
	}
	li:before {
		content: ''
		display: inline-block
		height:23px
		width: 23px
		vertical-align: middle
		border-radius:50%
		background-color:#000
	}
}