mixin experience-name(nameCompany, yearsWork, nameJob)
	div.experience__company-name
		span #{nameCompany} &nbsp;&nbsp;
		h3 #{yearsWork}
		p #{nameJob}
.experience
	.experience__title
		img(src="./img/experience.jpg" alt="experience" title="experience")
		span experience
		hr
	ul
		li 
			+experience-name("company name","// Feb 2011 - Jun 2014","Your job here")
			.experience__description
				span Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li 
			+experience-name("company name","// Feb 2011 - Jun 2014","Your job here")
			.experience__description
				span Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li 
			+experience-name("company name","// Feb 2011 - Jun 2014","Your job here")
			.experience__description
				span Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.

