.experience__company-name {
	margin-left: 44px
	font-size: 1.7em
	line-height: 1.2
	position: relative;
    top: -28px;
    margin-bottom: 20px
	span {
		text-transform: uppercase
		font-family: $Bold
		color: $blue-1
	}	
	p {
		text-transform: uppercase
		font-family: $Regular
	}
	
	h3 {
		display: inline
		font-family: $Regular
	}
}