.software__dreamweaver-level {
	display: flex
	.full-level {
		width: 254px
		height: 24px
		background: $blue-1
		position: relative
		top: -15px
		left: 87px
	}
	.no-full-level {
		width: 52px
		height: 24px
		position: relative
		top: -15px
		left: 86px
		background: $white-1
	}
}