.software__dreamweaver-level {
	display: flex
	.full-level {
		width: 253px
		height: 24px
		background: $blue-1
		position: relative
		top: -15px
		margin-left: 75px
	}
	.no-full-level {
		width: 52px
		height: 24px
		position: relative
		top: -15px
		background: $white-1
	}
}