.software__html-and-css3-level {
	display: flex
	.full-level {
		width: 277px
		height: 24px
		background: $blue-1
		position: relative
		top: -7px
		margin-left: 75px
	}
	.no-full-level {
		width: 29px
		height: 24px
		position: relative
		top: -7px
		background: $white-1
	}
}